.outlet-container {
  width: 90%;
  margin: auto;
}

.outlet-container.has-navbar-padding {
  padding-top: 4rem;
}

.whole-wrapper {
  width: 100%;
}

.btn {
  width: 8rem;
  margin-right: 1rem;
}

@media print {
  .outlet-container,
  .outlet-container.has-navbar-padding {
    width: 100%;
    margin: 0;
    padding-top: 0;
  }
}