.order-container{
    width: 100%;
}   

a{
    text-decoration: none;
}

.product-content{
    width: 100%;
}

.table{
    text-align: center;
    width: 100%;

}

.modal-table td{
    width: 50%;      
}

.modal-table th{
    
    width: 50%;   
}

.modal-table tr{
    border-bottom: 1px solid #dddddd82;
    /* display: flex; */
}

.btn-success,
.btn-primary,
.btn-warning {
    padding: 0.1rem 1rem;
    width: 5.5rem;
}


.list-group-item span{
    display: flex;
    justify-content: right;
}

.list-group-item input{
    width:5rem;
    border-radius: 5px 0 0 5px;
}

.list-group-item select{
    width: 4rem;
    border-radius: 0 5px 5px 0;


}

@media print {
  /* Hide everything on the body */
  body * {
    visibility: hidden;
  }

  /* Show only the print section and its children */
  #print-section, #print-section * {
    visibility: visible;
  }

  /* Position the print section at the top left of the page */
  #print-section {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}

@media (max-width: 768px) {
    .order-container app-sales-navigation{
        display: block;
    }
}


