.product-container{
    margin-top: 1rem;
}

.product-toolbar{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 0.75rem;
}

.search-wrapper{
    flex: 1;
}

.product-content{
    height: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
}

.action{
    display: flex;
    justify-content: right;
    margin-bottom: 0;
}

table{
    text-align: center;
}

.table a{
    text-decoration: none;
}

@media (max-width: 768px) {
    .product-toolbar{
        flex-direction: column;
        align-items: stretch;
    }

    .action{
        justify-content: flex-start;
    }
}


