/* .Row{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    gap: 1rem;
} */

.discount-line{
    display: flex;
}

.discount-line input{
    width: 85%;
    border-radius: 5px 0 0 5px;
}

.discount-line select{
    width: 14%;
    border-radius: 0 5px 5px 0;
}